<!DOCTYPE html>
<html lang="en">
<head>
    <title>ATM Store</title>
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />

    {% load static %}
    <link href='{% static "css/mdb.min.css" %}' rel="stylesheet" />

    <!-- MDB -->
    <script src='{% static "js/mdb.min.js" %}' type="text/javascript"></script>
    <script src='{% static "js/jquery-3.6.0.min.js" %}' type="text/javascript"></script>

    <script type="text/javascript">
    $(function () {
        $(".connectToServerButton").click(function () {
            var my_id_value = $(this).data('id');
            $(".modal-body #idApplication").val(my_id_value);
        })
    });
</script>


</head>

<body>

<!-- Navbar -->
<div id="mainDiv" >


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                ATM Store
            </div>

            <div>
                {% if connected == 1 %}
                <button type="button" id="btnServer" class="btn btn-primary" data-mdb-toggle='modal' data-mdb-target='#serverAddModal'>Add server</button>
                {% endif %}

            </div>

            &nbsp;
            &nbsp;

            <!-- Login status -->
            <div id="loginStatus">
                {% if connected == 1 %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#" id="navbarDropdown"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        Administrator
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" onclick="onSignOut()">Sign out</a></li>
                    </ul>
                </div>
                {% else %}
                <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#signInModal">Sign in</button>
                {% endif %}
            </div>
        </div>
        <!-- Container wrapper -->
    </div>
</nav>
<!-- Navbar -->

<!-- Main content -->

{% if listApplication %}
<div class="container" style="margin-top: 50px;">
    <div class="row">
        {% for app in listApplication %}
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top"
                         src="https://upload.wikimedia.org/wikipedia/fr/thumb/1/10/DGAC.svg/1200px-DGAC.svg.png "
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 id="appname_{{app.id}}" class="card-title">{{app.name}}</h5>
                        <p id="appversion_{{app.id}}" class="card-subtitle">Version number : {{app.version}}</p>
                    </div>
                    {% if connected == 1 %}
                    <button type="button" id="connectToServer_{{app.id}}" class="btn btn-primary connectToServerButton" data-mdb-toggle='modal' data-mdb-target='#serverConnectModal' data-id="{{app.id}}">Connect to server</button>
                    <button style="margin-bottom:10px" onclick="disconnect('{{app.id}}')" type="button" id="disconnectServer_{{app.id}}" class="btn btn-primary disconnectServerButton" hidden>Disconnect</button>
                    {% endif %}

                    <button onclick="installApplication('{{app.id}}')" style="margin-bottom:4px; margin-top:10px" type="button" id="buttonInstall_{{app.id}}" class="btn btn-success" hidden>Install</button>
                    <button onclick="updateApplication('{{app.id}}')" style="margin-bottom:4px" type="button" id="buttonUpdate_{{app.id}}" class="btn btn-info" hidden >Update</button>
                    <button onclick="uninstallApplication('{{app.id}}') " style="margin-bottom:4px" type="button" id="buttonUninstall_{{app.id}}" class="btn btn-danger" hidden>Uninstall</button>

                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
    <div class="container" style="margin-top: 200px; border:1px solid black">
        <div style="text-align: center;">
            <span style="font-size: 40px"> NO APPLICATION</span>
        </div>
    </div>
{% endif %}

<div
        class="modal fade"
        id="signInModal"
        data-mdb-backdrop="static"
        data-mdb-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Administrator sign in</h5>
                <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <form data-toggle="validator" onsubmit="onSignIn();return false;">
                <div class="modal-body">
                    <div id="loginInvalid" class="alert alert-danger" role="alert" hidden>
                        Wrong username and/or password !
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="login" class="form-control" required />
                        <label class="form-label" for="login">Login</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="password" class="form-control" required />
                        <label class="form-label" for="password">Password</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div
        class="modal fade"
        id="serverAddModal"
        data-mdb-backdrop="static"
        data-mdb-keyboard="false"
        tabindex="-1"
        aria-labelledby="addServer"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addServer">Add server</h5>
                <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <form data-toggle="validator" onsubmit="addServer();return false;">
                <div class="modal-body">
                    <!-- username input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="serverUsername" class="form-control" required />
                        <label class="form-label" for="serverUsername">Username</label>
                    </div>
                    <!-- IP input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="ip" class="form-control" required />
                        <label class="form-label" for="ip">IP Address</label>
                    </div>
                    <!-- Port input -->
                    <div class="form-outline mb-4">
                        <input type="number" id="port" class="form-control" required />
                        <label class="form-label" for="port">Port</label>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="serverPassword" class="form-control" required />
                        <label class="form-label" for="serverPassword">Password</label>
                    </div>
                    <!-- Root input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="path" class="form-control" required />
                        <label class="form-label" for="path">Repository root folder</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">Connect</button>
                </div>
            </form>
        </div>
    </div>


</div>


<div
        class="modal fade"
        id="serverConnectModal"
        data-mdb-backdrop="static"
        data-mdb-keyboard="false"
        tabindex="-1"
        aria-labelledby="connectToServer"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="connectToServer">Connect to server</h5>
                <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <form data-toggle="validator" onsubmit="connectToServer();return false;">
                <div class="modal-body">
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="confirmPassword" class="form-control" required />
                        <label class="form-label" for="serverPassword">Password</label>
                    </div>
                    <input type="hidden" name="idApplication" id="idApplication" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">Connect</button>
                </div>
            </form>
        </div>
    </div>


</div>
</div>
<div id="spinnerRunning" class="spinner-border" role="status" style="position: absolute; margin-left: 45%; margin-top: -75px" hidden>
  <span class="visually-hidden">Loading...</span>
</div>

</body>

<script src='{% static "js/login.js" %}'></script>
<script src='{% static "js/serverConnect.js" %}'></script>
</html>